body {
  font: 12px sans-serif;
  background-color: black;
}

h3 {
  color: white;
}

.checkLabel {
  color: white;
}

.labels {
  stroke: gray;
  fill: white;
}

.axis {
  stroke: gray;
}

#chart1 {
    float:left;
}

circle {
	fill: none;
	stroke: gray;
}


