body {
  font: 12px sans-serif;
  background-color: black;
}

h3 {
  color: white;
}

.checkLabel {
  color: white;
  font-size: 20px;
}

text {
  stroke: gray;
  fill: white;
  font-size: 20;
}

.tooltip {
  background: grey;
  color: black;
  border-radius: 5px;
  position: absolute;
  padding: 8px;
  pointer-events: none;
  text-align: left;
}

.axis {
  stroke: gray;
}

#chart1 {
    float: left;
}

#filters {
	float: left;
}

circle {
	fill: none;
	stroke: gray;
}

.hidden {
	display: none;
}


#topSongs {
  height: 590px;
  width: 350px;
  overflow-y: auto;  
  background-color: #828282;
} 


